<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <partial name="header" />

    <main>
        <p style="margin-top: 1%; margin-left: 7%;"><a style="color: black; text-decoration: none;" href="@Url.Action("index")">Главная</a> > Новости</p>
        <div class="list_card1">
            <div class="card rounded-4" style="width: 18rem;">
                <a style="text-decoration: none" href="@Url.Action("pageActivities")"><h4>дневная занятость</h4></a>
                <img src="/image/newsCardImage1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Приспособление к жизни, включение в окружающую социальную среду и формирование социальной мобильности любого человека происходит посредством накопления...</p>
                </div>
            </div>

            <div class="card rounded-4" style="width: 18rem;">
                <a style="text-decoration: none" href="@Url.Action("PageActivities2")"><h4>трудовые программы</h4></a>
                <img src="/image/ourActivities1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Труд дает возможность приобретения новых социальных ролей, в том числе профессиональных. Как правило, у людей с инвалидностью нет роли родителей или партнеров...</p>
                </div>
            </div>

            <div class="card rounded-4" style="width: 18rem; height: 28.7rem;">
                <a style="text-decoration: none" href="@Url.Action("PageActivities3")"><h4>бытовые программы</h4></a>
                <img src="/image/newsCardImage3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        • походы в магазины «Покупаем сами» <br>
                        • дежурство, уборка помещения <br>
                        • стирка...
                    </p>
                </div>
            </div>

            <div class="card rounded-4" style="width: 18rem;">
                <a style="text-decoration: none" href="@Url.Action("PageActivities4")"><h4>спорт</h4></a>
                <img src="/image/ourActivities2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Адаптивная физкультура – реализуется проект «Адаптивный волейбол» совместно с общественной организацией «Лотос» в спортзале школы-интерната №12...</p>
                </div>
            </div>

            <div class="card rounded-4" style="width: 18rem;">
                <a style="text-decoration: none" href="@Url.Action("PageActivities5")"><h4>творчество</h4></a>
                <img src="/image/newsCardImage5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Занятия в студии рисования - реализуется проект «Рисование» совместно с родительской общественной организацией «Лотос» на базе Художественного музея...</p>
                </div>
            </div>

            <div class="card rounded-4" style="width: 18rem;">
                <a style="text-decoration: none" href="@Url.Action("PageActivities6")"><h4>проживание</h4></a>
                <img src="/image/newsCardImage4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Сопровождаемое людей с инвалидностью предусматривает предоставления социальных услуг, услуг реабилитации, абилитации, образовательных услуг...</p>
                </div>
            </div>
        </div>

        <p style="display: flex; align-content: center; justify-content: center; color: #522473; font-size: 20px;">
            <b>
                Благотворительный инновационный социальный проект для организации <br>
                самостоятельной жизни в отдельном жилом помещении инвалидов с <br>
                ментальными нарушениями в г.Иркутске.
            </b>
        </p>

        <div class="list_card1">
            <div class="card rounded-4" style="width: 18rem; height: 24rem;">
                <h4 style="margin-top: 7%;">ЦЕЛЬ ПРОЕКТА</h4>
                <div class="card-body">
                    <p class="card-text">Нормализация жизни людей с инвалидностью, организация их самостоятельной жизни при групповом сопровождаемом проживании и их дневной занятостью; практически, создание нового, лучшего образа жизни для них самих и для их семей.</p>
                </div>
            </div>

            <div class="card rounded-4" style="width: 18rem; height: 24rem;">
                <h4 style="margin-top: 7%;">ЗАДАЧИ ПРОЕКТА</h4>
                <div class="card-body">
                    <p class="card-text">Создание силами благотворителей и АНО «Открытый мир» помещения для сопровождаемого проживания взрослых инвалидов с ментальными нарушениями и помещения для их дневной занятости. Помещениями будут пользоваться не одно поколение инвалидов.</p>
                </div>
            </div>

            <div class="card rounded-4" style="width: 18rem; height: 24rem;">
                <h4 style="margin-top: 7%;">ЦЕЛЕВАЯ ГРУППА</h4>
                <div class="card-body">
                    <p class="card-text">Люди с ментальной инвалидностью 1 и 2 группы старше 18 лет, имеющие 2 и 3 степень ограничения жизнедеятельности.</p>
                </div>
            </div>
        </div>

    </main>

    <partial name="footer" />
</body>
</html>